[submodule "amnav"]
	path = amnav
	url = git@github.com:am-impact/amnav.git
[submodule "blueprint"]
	path = blueprint
	url = git@github.com:bjerenec/craftcms-blueprint.git
[submodule "craft-dbug"]
	path = craft-dbug
	url = https://github.com/lukeholder/craft-dbug
[submodule "FeedMe"]
	path = FeedMe
	url = git@github.com:engram-design/FeedMe.git
[submodule "FieldManager"]
	path = FieldManager
	url = git@github.com:engram-design/FieldManager.git
[submodule "ImageResizer"]
	path = ImageResizer
	url = git@github.com:engram-design/ImageResizer.git
[submodule "SuperTable"]
	path = SuperTable
	url = git@github.com:engram-design/SuperTable.git
[submodule "Imager-Craft"]
	path = Imager-Craft
	url = git@github.com:aelvan/Imager-Craft.git
[submodule "LinkIt"]
	path = LinkIt
	url = git@github.com:fruitstudios/LinkIt.git
[submodule "Pimp-My-Matrix"]
	path = Pimp-My-Matrix
	url = git@github.com:supercool/Pimp-My-Matrix.git
[submodule "Placid"]
	path = Placid
	url = git@github.com:alecritson/Placid.git
[submodule "seomatic"]
	path = seomatic
	url = git@github.com:nystudio107/seomatic.git
[submodule "Reasons-Craft"]
	path = Reasons-Craft
	url = https://github.com/mmikkel/Reasons-Craft
[submodule "ExpandedSingles"]
	path = ExpandedSingles
	url = git@github.com:engram-design/ExpandedSingles.git
[submodule "craft-quick-field"]
	path = craft-quick-field
	url = git@github.com:benjamminf/craft-quick-field.git
[submodule "CpFieldLinks-Craft"]
	path = CpFieldLinks-Craft
	url = git@github.com:mmikkel/CpFieldLinks-Craft.git
[submodule "SimpleSitemap"]
	path = SimpleSitemap
	url = git@github.com:xodigital/SimpleSitemap.git
