[submodule "forms"]
	path = forms
	url = git@github.com:am-impact/amforms.git
[submodule "amnav"]
	path = amnav
	url = git@github.com:am-impact/amnav.git
[submodule "blueprint"]
	path = blueprint
	url = git@github.com:bjerenec/craftcms-blueprint.git
[submodule "craft-dbug"]
	path = craft-dbug
	url = https://github.com/lukeholder/craft-dbug
[submodule "FeedMe"]
	path = FeedMe
	url = git@github.com:engram-design/FeedMe.git
[submodule "FieldManager"]
	path = FieldManager
	url = git@github.com:engram-design/FieldManager.git
[submodule "ImageResizer"]
	path = ImageResizer
	url = git@github.com:engram-design/ImageResizer.git
[submodule "SuperTable"]
	path = SuperTable
	url = git@github.com:engram-design/SuperTable.git
[submodule "Imager-Craft"]
	path = Imager-Craft
	url = git@github.com:aelvan/Imager-Craft.git
[submodule "LinkIt"]
	path = LinkIt
	url = git@github.com:fruitstudios/LinkIt.git
