[submodule "amnav"]
	path = amnav
	url = git@github.com:am-impact/amnav.git
[submodule "blueprint"]
	path = blueprint
	url = git@github.com:bjerenec/craftcms-blueprint.git
[submodule "craft-dbug"]
	path = craft-dbug
	url = https://github.com/lukeholder/craft-dbug
[submodule "FeedMe"]
	path = FeedMe
	url = git@github.com:engram-design/FeedMe.git
[submodule "FieldManager"]
	path = FieldManager
	url = git@github.com:engram-design/FieldManager.git
[submodule "ImageResizer"]
	path = ImageResizer
	url = git@github.com:engram-design/ImageResizer.git
[submodule "SuperTable"]
	path = SuperTable
	url = git@github.com:engram-design/SuperTable.git
[submodule "Imager-Craft"]
	path = Imager-Craft
	url = git@github.com:aelvan/Imager-Craft.git
[submodule "LinkIt"]
	path = LinkIt
	url = git@github.com:fruitstudios/LinkIt.git
[submodule "Pimp-My-Matrix"]
	path = Pimp-My-Matrix
	url = git@github.com:supercool/Pimp-My-Matrix.git
[submodule "Placid"]
	path = Placid
	url = git@github.com:alecritson/Placid.git
[submodule "seomatic"]
	path = seomatic
	url = git@github.com:nystudio107/seomatic.git
[submodule "Reasons-Craft"]
	path = Reasons-Craft
	url = https://github.com/mmikkel/Reasons-Craft
[submodule "ExpandedSingles"]
	path = ExpandedSingles
	url = git@github.com:engram-design/ExpandedSingles.git
[submodule "craft-quick-field"]
	path = craft-quick-field
	url = git@github.com:benjamminf/craft-quick-field.git
[submodule "CpFieldLinks-Craft"]
	path = CpFieldLinks-Craft
	url = git@github.com:mmikkel/CpFieldLinks-Craft.git
[submodule "SimpleSitemap"]
	path = SimpleSitemap
	url = git@github.com:xodigital/SimpleSitemap.git
[submodule "amform"]
	path = amform
	url = git@github.com:am-impact/amforms.git
[submodule "craft_kint"]
	path = craft_kint
	url = https://github.com/mildlygeeky/craft_kint.git
[submodule "FocalPointField-Craft"]
	path = FocalPointField-Craft
	url = https://github.com/aelvan/FocalPointField-Craft.git
[submodule "Preparse-Field-Craft"]
	path = Preparse-Field-Craft
	url = https://github.com/aelvan/Preparse-Field-Craft.git
[submodule "Guano-Craft"]
	path = Guano-Craft
	url = https://github.com/aelvan/Guano-Craft.git
[submodule "Stringy-Craft"]
	path = Stringy-Craft
	url = https://github.com/mmikkel/Stringy-Craft.git
[submodule "minify"]
	path = minify
	url = https://github.com/nystudio107/minify.git
[submodule "CacheFlag-Craft"]
	path = CacheFlag-Craft
	url = https://github.com/mmikkel/CacheFlag-Craft.git
[submodule "craft-neo"]
	path = craft-neo
	url = https://github.com/benjamminf/craft-neo.git
[submodule "craft-embedded-assets"]
	path = craft-embedded-assets
	url = https://github.com/benjamminf/craft-embedded-assets.git
[submodule "craft-matrix-group"]
	path = craft-matrix-group
	url = https://github.com/benjamminf/craft-matrix-group.git
[submodule "craft-relabel"]
	path = craft-relabel
	url = https://github.com/benjamminf/craft-relabel.git
[submodule "craft-matrixcolors"]
	path = craft-matrixcolors
	url = https://github.com/lindseydiloreto/craft-matrixcolors.git
[submodule "cropassets"]
	path = cropassets
	url = https://github.com/boboldehampsink/cropassets.git
[submodule "craft-maintenance"]
	path = craft-maintenance
	url = https://github.com/carlcs/craft-maintenance.git
[submodule "auditlog"]
	path = auditlog
	url = https://github.com/boboldehampsink/auditlog.git
[submodule "craft-helpers"]
	path = craft-helpers
	url = git@github.com:carlcs/craft-helpers.git
[submodule "navee"]
	path = navee
	url = git@github.com:fromtheoutfit/navee.git
[submodule "Craft-FocusPoint"]
	path = Craft-FocusPoint
	url = git@github.com:smcyr/Craft-FocusPoint.git
[submodule "craft-inventory"]
	path = craft-inventory
	url = git@github.com:lindseydiloreto/craft-inventory.git
[submodule "import"]
	path = import
	url = git@github.com:boboldehampsink/import.git
[submodule "craft-lj-dynamicfields"]
	path = craft-lj-dynamicfields
	url = https://github.com/lewisjenkins/craft-lj-dynamicfields.git
[submodule "craft-elementoptions"]
	path = craft-elementoptions
	url = https://github.com/timkelty/craft-elementoptions.git
[submodule "Craft-TwigTypeTest"]
	path = Craft-TwigTypeTest
	url = https://github.com/victor-in/Craft-TwigTypeTest.git
[submodule "craft-assetmetadata"]
	path = craft-assetmetadata
	url = https://github.com/carlcs/craft-assetmetadata.git
[submodule "craft-localesync"]
	path = craft-localesync
	url = https://github.com/timkelty/craft-localesync.git
[submodule "craft-cpcss"]
	path = craft-cpcss
	url = https://github.com/lindseydiloreto/craft-cpcss.git
[submodule "retour"]
	path = retour
	url = https://github.com/nystudio107/retour.git
[submodule "Button-Box"]
	path = Button-Box
	url = https://github.com/lindseydiloreto/Button-Box.git
[submodule "ElementAPI"]
	path = ElementAPI
	url = git@github.com:pixelandtonic/ElementAPI.git
[submodule "craft-languagelink"]
	path = craft-languagelink
	url = git@github.com:lindseydiloreto/craft-languagelink.git
[submodule "craftcms-thearchitect"]
	path = craftcms-thearchitect
	url = git@github.com:Pennebaker/craftcms-thearchitect.git
[submodule "craft-recurring-dates"]
	path = craft-recurring-dates
	url = git@github.com:nxnw/craft-recurring-dates.git
[submodule "craftcms-multidatefield"]
	path = craftcms-multidatefield
	url = git@github.com:bjerenec/craftcms-multidatefield.git
[submodule "ArtVandelay"]
	path = ArtVandelay
	url = git@github.com:xodigital/ArtVandelay.git
[submodule "export"]
	path = export
	url = git@github.com:boboldehampsink/export.git
